body {
  background-color:#513252;
  font-family: sans-serif;
  padding: 0;
}

.calculator {
  display: grid;
  grid-template-rows: 5;
  grid-template-columns: 4;
  background-color: #513252;
  border-style: solid;
  border-color: #7A4069;
  border-width: 10px;
}

.btn {
  margin-bottom: 20%;
  margin-right: 20%;
  height: 10rem;
  border-radius: 50%;
  color: white;
  background-color: #7A4069;
  font-size: 6rem;
  border-width: 5px;
}

.btn:hover {
  color: #7A4069;
  background-color: white;
}

/**********columns*****/
.item-1 {
  grid-column: 1;
}

.item-2 {
  grid-column: 2;
}

.item-3 {
  grid-column: 3;
}

.item-4 {
  grid-column: 4;
}

/****rows*****/
.first-row {
  grid-row: 2
}

.second-row {
  grid-row: 3;
}

.third-row {
  grid-row: 4;
}

.fourth-row {
  grid-row: 5;
  padding-bottom: 0px;
}

.zeroth {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 0%;
  position: relative;
  left: 4rem;
  padding-bottom: 0px;
}

.zeroth-row {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 12rem;
  font-size: 8rem;
  margin-bottom: 3rem;
  background-color: white;
  color: black;
  text-align: left;
}

footer {
  color: white;
  text-align: center;
  font-family: serif;
}
